<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">"Login"</h1>
    <div class="clear"></div>
  </div>

  <div id="featureWrap" class="floatLeft reports">  
  	<table class="report" cellpadding="0" cellspacing="0">
  		<tr>
  			<th>Customer Name</th>
  			<th>Total Book Count</th>
        <th>Checked Out</th>
  		</tr>
  		<% @customers.each do |customer| -%>
  			<tr class="<%= cycle("rowA", "rowB") -%>">
          <td><%= link_to "#{customer.first_name} #{customer.last_name}", user_path(customer, view: 'customer') %></td>
          <td><%= total_book_count(customer) %></td>
          <td><%= current_checked_out_books(customer) %></td>
        </tr>
      <% end -%>
    </table>
  </div>
</div>
