<!-- NAVIGATION -->
<div>
	<div id="nav">
    <ul>
      <%= content_tag(:li) do  %>
  			<%= link_to 'Librarian View', list_users_path %>
      <% end %>

      <%= content_tag(:li) do  %>
  			<%= link_to 'Customer View', customer_users_path %>
      <% end %>

      <%#= content_tag(:li) do %>
        <%#= link_to "Add New Books", new_book_path %>
      <%# end %>
    </ul>
  </div>
</div>
  
