<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">Books for <%= link_to "#{@customer.first_name} #{@customer.last_name}", user_path(@customer, view: 'librarian') %></h1>
    <div class="clear"></div>
  </div>
  
  <%= render partial: 'shared/flash' %>

  <%= render partial: 'books/customer_books_table', locals: { customer_books: @customer_books, customer: @customer, as_librarian: true } %>
</div>
