<script type="module">
  import "controllers/import_books";
</script>

<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">Add New Books</h1>
    <div class="clear"></div>
  </div>

  <%= form_tag import_books_path, multipart: true%>
  <%= file_field_tag :file,
    id: "choose-csv-btn",
    accept: ".csv"
  %>
  <%= submit_tag "Import CSV",
    id: "import-csv-btn",
    disabled: true
  %>

</div>
